.container {
    margin: auto;
    text-align: center;
    width: 800px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.container div {
    display: inline-block;
    width: 190px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 200px;
    }
}
